*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  place-items: center;
  display: grid;
  grid-template-columns: 711px 1fr;
  grid-auto-flow: column;
  align-items: end;
  grid-template-rows: auto;
  grid-template-areas: "result content__details";
  width: 1140px;
  gap: 30px;
}
.result {
  grid-area: result;
}
.content__details {
  grid-area: content__details;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}
.search-form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow: auto;
}
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content__list-item {
  display: block;
  outline: none;
  padding-left: 3px;
  padding-right: 3px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  object-position: center;
}
.result__video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}
.content__video-card-description-container {
  flex-grow: 1;
}
.content__video-card-description {
  line-height: 100%;
  line-clamp: 1;
}
.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 5px;
  min-width: 250px;
}
.search-form__fieldset:nth-of-type(2) {
  padding-left: 10px;
}
.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.title .content__accent {
  color: #545050;
}
.content__card-link {
  text-decoration: none;
  color: #fff;
}
.content__card-link:active {
  display: block;
  background-color: #545050;
}
.content__video-card-title {
  font-family: "oswald", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 192px;
  font-weight: 700;
  line-height: 100%;
}
.content__card-link_current {
  display: block;
  background-color: #545050;
}
.content__list-item:hover {
  text-decoration: underline;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}
.search-form__pseudo-checkbox:hover {
  cursor: pointer;
}
fieldset {
  border: none;
}
.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
}
.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: #ffffff;
  background-color: transparent;
  outline: none;
  appearance: none;
  font-size: 18px;
  font-weight: 400;

  width: 100%;
  min-width: 225px;
  min-height: 27px;
}
.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.search-form__label:has(:focus-visible) {
  outline: 1px white solid;
}

.search-form__checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  user-select: none;
  gap: 10px;
}

.search-form__pseudo-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  position: relative;
  flex-shrink: 0;
}

.search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}
.button {
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-size: 18px;
  outline: none;
  font-weight: 700;
}
.button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.button:focus-visible {
  outline: 1px white solid;
  outline-offset: 1px;
}
.button:active {
  background-color: #545050;
}
.more-button {
  height: 34px;
  width: 100%;
  margin-top: 30px;
}
.search-form__submit-button {
  align-self: flex-end;
  height: 34px;
  width: 194px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  transform: translate(-50%, -50%) scale(1);
}
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}
.search-form__label-text {
  padding-left: 5px;
}

.content__list-item:focus {
  outline: none;
}
content__list-item:active {
  background-color: #545050;
}
content__list-item:hover {
  text-decoration: underline;
}
content__list-item:focus-visible {
  outline: 1px solid white;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
